<ion-view view-title="Account About" hide-tabs="true">
  <ion-content>
    <div class="intro-box padding" id="intro-box" ng-controller="AccountCtrl">
      <p>
        <img class="full-image" src="img/355-100.png" />
      </p>
      <p>
        This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
      </p>

    </div>
    <div class="padding text-center">
      <img src="img/120-120.png" />
    </div>
  </ion-content>
</ion-view>
