<ion-view view-title="Account Address" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar align-title="center" class="stable-bg">
    <div class="buttons">
      <a class="button" href="#/tab/account">Save</a>
    </div>
    <h1 class="title">Address</h1>
    <div class="buttons">
      <a class="button" href="#/tab/account">Cancel</a>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="AddressCtrl">
    <div class="list text-center">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Address</span>
        <textarea name="feedback_planting" placeholder="Address" class="item-input-wrapper"></textarea>
      </label>
    </div>
  </ion-content>
</ion-view>
