<ion-view view-title="Account Language" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar align-title="center" class="stable-bg">
    <div class="buttons">
      <a class="button" href="#/tab/account">Save</a>
    </div>
    <h1 class="title">Language</h1>
    <div class="buttons">
      <a class="button" href="#/tab/account">Cancel</a>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="AccountCtrl">
    <div class="list">
      <div class="item item-divider">
        Candy Bars
      </div>
      <a class="item" href="#">
        Butterfinger
      </a>
    </div>
  </ion-content>
</ion-view>
