<ion-view view-title="{{'tabs.account.AccountLanguage' | translate}}" hide-tabs="true">
  <ion-content ng-controller="AccountChooseLanguageCtrl">
    <!-- div class="list">
      <ion-radio ng-model="choiceLang" ng-value="'zh_CN'" ng-click="changeLanguage('zh_CN');">Chinese</ion-radio>
      <ion-radio ng-model="choiceLang" ng-value="'en_US'" ng-click="changeLanguage('en_US');">English</ion-radio>
    </div -->
    <ion-radio ng-repeat="lang in languages.available" class="item"
               ng-model="languages.selected"
               ng-value="lang" ng-click="changeLanguage(lang);">
              {{(lang == "en") ? 'English' : ''}} {{(lang == "zh") ? '中文简体' : ''}}
    </ion-radio>
    <div class="padding assertive text-center">
      {{'tabs.account.language.tip' | translate }}
    </div>
  </ion-content>
</ion-view>
