<ion-view view-title="Account Username" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar align-title="center" class="stable-bg">
    <div class="buttons">
      <a class="button" href="#/tab/account">Save</a>
    </div>
    <h1 class="title">Username</h1>
    <div class="buttons">
      <a class="button" href="#/tab/account">Cancel</a>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="AccountCtrl">
    <div class="list text-center">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" name="feedback_planting" placeholder="Username" class="item-input-wrapper" />
      </label>
    </div>
  </ion-content>
</ion-view>
