<ion-view view-title="Account Avatar" hide-nav-bar="true" hide-back-button="true" hide-tabs="true" ng-controller="AccountAvatarCtrl">
  <ion-header-bar align-title="center" class="stable-bg">
    <button class="button button-clear button-dark" ng-click="showActions()">Add</button>
    <h1 class="title">Avatar</h1>
    <div class="buttons">
      <a class="button button-clear button-dark" href="#/tab/account">Back</a>
    </div>
  </ion-header-bar>
  <ion-content>
    <img src="img/375-200.png" />
  </ion-content>
</ion-view>
