<ion-view view-title="Account Avatar" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar align-title="center" class="stable-bg">
    <div class="buttons">
      <a class="button" href="#/tab/account">Back</a>
    </div>
    <h1 class="title">Avatar</h1>
    <div class="buttons">
      <a class="button" href="#/tab/account">Add</a>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="AccountCtrl">
    <img src="img/375-200.png" />
  </ion-content>
</ion-view>
