<ion-view view-title="{{'tabs.account.AccountUsername' | translate}}" hide-tabs="true">
  <ion-content ng-controller="AccountUsernameCtrl">
    <div class="list text-center">
      <label class="item item-input">
        <span class="input-label">{{'tabs.feedback.form.username' | translate}}</span>
        <input type="text" ng-model="account_username" name="account_username" placeholder="{{'tabs.feedback.form.username.placeholder' | translate}}" class="item-input-wrapper" />
      </label>
    </div>
    <div class="padding" ng-if="account_username != null">
      <button class="button button-full button-balanced" ng-click="saveUserName();">{{'general.btn.save' | translate}}</button>
    </div>
  </ion-content>
</ion-view>
