<ion-view view-title="{{'tabs.feedback.form.attachments' | translate}}" hide-tabs="true">
  <ion-content ng-controller="AttachmentsCtrl">
    <div class="list text-center padding-bottom">
      <label class="item item-button-right" ng-click="choosePics()" data-tap-disabled="true">
        <i class="icon ion-images"></i>
        {{'tabs.feedback.action.ChoosePhoto' | translate}}
      </label>
      <label class="item item-button-right" ng-click="takePics()" data-tap-disabled="true">
        <i class="icon ion-camera" ></i>
        {{'tabs.feedback.action.TakePhoto' | translate}}
      </label>
    </div>

    <div class="text-center">
      <img class="full-image" id="showImage" ng-model="attachment" ng-src="">
      <div class="padding" ng-if="attachment">
        <button class="button button-full button-balanced" ng-click="clearImage()">{{'tabs.feedback.action.clearImage' | translate}}</button>
      </div>
    </div>
    <div class="text-center padding">
        <p class="gray">{{'tabs.feedback.form.attachments.tip' | translate}}</p>
  </div>
  </ion-content>
</ion-view>
