<ion-view view-title="Attachments" hide-tabs="true">
  <!-- ion-header-bar align-title="center" class="stable-bg">
    <div class="buttons">
      <a class="button" href="#/tab/feedback">Confirm</a>
    </div>
    <h1 class="title">Attachments</h1>
    <div class="buttons">
      <a class="button" href="#/tab/feedback">Cancel</a>
    </div>
  </ion-header-bar -->
  <ion-content ng-controller="AttachmentsCtrl">
    <div class="list text-center padding-bottom">
      <label class="item item-button-right" ng-click="takePics()">
        <i class="icon ion-camera" ></i>
        Photo
      </label>
      <!-- label class="item item-button-right" ng-click="showCam()">
        <i class="icon ion-videocamera"></i>
        Video
      </label -->
    </div>
    <div>
      <img class="full-image" id="showImage" ng-model="feedback.attachment" ng-src="">
    </div>
    <button class="button button-full button-balanced" ng-click="saveImage()">Save Image</button>

  </ion-content>
</ion-view>
