<ion-view view-title="{{'tabs.feedback.view.title' | translate}}" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar class="row-no-padding stable-bg" >
    <div class="tabs-striped has-tabs-top tabs-background-stable">
      <div class="tabs">
        <a class="tab-item active" href="#/tab/feedback">{{'tabs.feedback.action.feedback' | translate}}</a>
        <a class="tab-item" href="#/tab/feedback-history">{{'tabs.feedback.action.history' | translate}}</a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="FeedbackStateCtrl">
    <div class="text-center padding block">
      <p class="margin-top-10"><i class="ion ion-checkmark"></i></p>
      <p class="gray" ng-if="status == 'success'">{{'tabs.feedback.form.success' | translate}}</p>
      <p class="gray" ng-if="status != 'success'">{{'tabs.feedback.form.error' | translate}}</p>
    </div>
    <div class="padding margin-top-10">
      <button class="button button-block button-full button-balanced" ng-click="goBack();">{{'tabs.feedback.action.back' | translate}}</button>
    </div>
  </ion-content>
</ion-view>
