<ion-view view-title="{{'tabs.feedback.view.title' | translate}}" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar class="row-no-padding stable-bg" >
    <div class="tabs-striped has-tabs-top tabs-background-stable">
      <div class="tabs">
        <a class="tab-item" href="#/tab/feedback">{{'tabs.feedback.action.feedback' | translate}}</a>
        <a class="tab-item active" href="#/tab/feedback-history">{{'tabs.feedback.action.history' | translate}}</a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="FeedbackHistoryCtrl">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="text-center gray padding" ng-if="!feedbacks.length">{{'tabs.feedback.history.none' | translate}}</div>
    <div class="card" ng-repeat="feedback in feedbacks">
      <div class="item item-divider">
       {{'tabs.feedback.history.datetime' | translate}} {{feedback.created}}
      </div>
      <div class="item item-text-wrap">
        <p>
          <h4>{{'tabs.feedback.history.usage' | translate}}</h4>
          {{feedback.content.feedback_usage}}
        </p>
        <hr class="hr-1">
        <p>
          <h4>{{'tabs.feedback.history.planting' | translate}}</h4>
          {{feedback.content.feedback_planting}}
        </p>
        <hr class="hr-1">
        <p>
          <h4>{{'tabs.feedback.history.attachment' | translate}}</h4>
          <img ng-src="{{hostURL}}/system/storage/upload/{{feedback.content.feedback_getImageSrc}}" class="full-image"/>
        </p>
      </div>
    </div>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      icon="ion-load-c"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
