<ion-view view-title="Feedback" hide-nav-bar="true" hide-back-button="true" hide-tabs="true">
  <ion-header-bar class="row-no-padding stable-bg" >
    <div class="tabs-striped has-tabs-top tabs-background-stable">
      <div class="tabs">
        <a class="tab-item" href="#/tab/feedback">Feedback</a>
        <a class="tab-item active" href="#/tab/feedback-history">History</a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="FeedbackCtrl">
    <div class="card" ng-repeat="feedback in feedbacks">
      <div class="item item-divider">
        {{feedback.created}}
      </div>
      <div class="item item-text-wrap">
        <p>
          <h4>usage</h4>
          {{feedback.content.feedback_usage}}
        </p>
        <hr class="hr-1">
        <p>
          <h4>planting</h4>
          {{feedback.content.feedback_planting}}
        </p>
        <hr class="hr-1">
        <p>
          <h4>Attachment</h4>
          <img ng-src="{{feedback.content.feedback_getImageSrc}}" class="full-image"/>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
