<ion-view view-title="Video List" hide-tabs>
  <ion-content ng-controller="ProductVideoListCtrl">
    <div class="card" ng-repeat="ProductVideo in ProductVideoList">
      <div class="item item-divider">
        {{ProductVideo.name}}
      </div>
      <div class="item item-text-wrap row-no-padding">
        <video controls="controls" poster="img/375-200.png" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source type="video/mp4" ng-src="{{ProductVideo.url}}" />
          HTML5 video does not support.
        </video>
        <div class="padding">
          {{ProductVideo.intro}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
