<ion-view view-title="Products List" hide-tabs  ng-controller="ProductListCtrl">
  <ion-nav-buttons side="left" >
    <div class="bar bar-header item-input-inset" ng-if="hasFilters">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" id="searchBar" placeholder="Search Product" ng-model="searchKey" ng-blur="searchProduct(searchKey, 2);">
      </label>
    </div>
  </ion-nav-buttons>
  <ion-nav-title ng-show="!hasFilters">
    Products List
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a data-tap-disabled="true" class="button button-small button-icon" ng-click="openFilters(hasFilters);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="hot-products list padding" ng-if="hasChild == 0" >
      <a class="item item-borderless item-icon-right row-no-padding" ng-repeat="Product in Products" href="#/tab/product-detail/{{Product.productId}}">
        <img ng-src="{{Product.thumbUrl}}" />
        <h2>{{Product.productName}}</h2>
        <p ng-bind-html="Product.productIntro"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <ion-list ng-if="hasChild == 1" >
      <ion-item ng-repeat="ProductCategory in ProductCategories" class="item-icon-right">
        <a ng-href="#/tab/product-list/{{ProductCategory.categoryId}}/{{(ProductCategory.categories != null) ? 1 : 0}}" class="dark">
          <label>{{ProductCategory.categoryName}}</label>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-item>
    </ion-list>
    <div class="hot-products list padding" ng-if="hasChild == 2" >
      <a class="item item-borderless item-icon-right row-no-padding" ng-repeat="Product in Products" href="#/tab/product-detail/{{Product.productId}}">
        <img ng-src="{{Product.thumbUrl}}" />
        <h2>{{Product.productName}}</h2>
        <p ng-bind-html="Product.productIntro"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="gray text-center" ng-if="Products == '' || ProductCategories == ''">none</div>
  </ion-content>
</ion-view>
