<ion-view view-title="Products List" hide-tabs>
  <ion-content ng-controller="ProductsCtrl">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>
    <div class="hot-products list padding">
      <a class="item item-borderless item-icon-right row-no-padding" href="#/tab/product-detail/{{productId}}">
        <img src="img/170-120.png" />
        <h2>{{product}}Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <a class="item item-borderless row-no-padding" href="#">
        <img src="img/170-120.png" />
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-borderless row-no-padding" href="#">
        <img src="img/170-120.png" />
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-borderless row-no-padding" href="#">
        <img src="img/170-120.png" />
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>
    </div>
    <!-- ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher -->
  </ion-content>
</ion-view>
