<ion-view view-title="{{'tabs.products.VideoList' | translate}}" hide-tabs>
  <ion-content ng-controller="ProductVideoListCtrl">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="text-center gray padding" ng-if="!ProductVideoList.length">{{'tabs.products.ProductsListNone' | translate}}</div>
    <div class="card" ng-repeat="ProductVideo in ProductVideoList">
      <div class="item item-divider">
        {{ProductVideo.name}}
      </div>
      <div class="item item-text-wrap row-no-padding">
        <video controls="controls" poster="img/375-200.png" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source type="video/mp4" ng-src="{{ProductVideo.url}}" />
          {{'tabs.products.htmlNotice' | translate}}
        </video>
        <div class="padding">
          {{ProductVideo.intro}}
        </div>
      </div>
    </div>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded()"
      icon="ion-load-c"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
