<ion-view view-title="{{'tabs.products.ProductsList' | translate}}" hide-tabs  ng-controller="ProductListCtrl">
  <ion-nav-buttons side="left" >
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="item-input" ng-if="hasFilters">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" id="searchBar" placeholder="{{'tabs.products.SearchProduct' | translate}}" ng-model="searchKey" ng-blur="searchProduct(searchKey, 2);">
      </label>
    </div>
    <div ng-show="!hasFilters">{{'tabs.products.ProductsList' | translate}}</div>
  </ion-nav-title>
  <ion-nav-buttons class="button-small button-icon" side="right">
    <i data-tap-disabled="true" class="button button-small button-icon" ng-click="openFilters(hasFilters);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></i>
  </ion-nav-buttons>
  <ion-content>
    <div class="hot-products list padding" ng-if="hasChild == 0" >
      <a class="item item-borderless item-icon-right row-no-padding" ng-repeat="Product in Products" href="#/tab/product-detail/{{Product.productId}}">
        <img ng-src="{{Product.thumbUrl}}" />
        <h2>{{Product.productName}}</h2>
        <p ng-bind-html="Product.productIntro"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <ion-list ng-if="hasChild == 1" >
      <ion-item ng-repeat="ProductCategory in ProductCategories" class="item-icon-right" ng-href="#/tab/product-list/{{ProductCategory.categoryId}}/{{(ProductCategory.categories != null) ? 1 : 0}}">
          <label>
            {{ProductCategory.categoryName}}
            <i class="icon ion-chevron-right icon-accessory"></i>
          </label>
      </ion-item>
    </ion-list>
    <div class="hot-products list padding" ng-if="hasChild == 2" >
      <a class="item item-borderless item-icon-right row-no-padding" ng-repeat="Product in Products" href="#/tab/product-detail/{{Product.productId}}">
        <img ng-src="{{Product.thumbUrl}}" />
        <h2>{{Product.productName}}</h2>
        <p ng-bind-html="Product.productIntro"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <div class="text-center gray padding" ng-if="!Products.length">{{'tabs.products.ProductsListNone' | translate}}</div>
  </ion-content>
</ion-view>
