<ion-view view-title="{{'tabs.products.view.title' | translate}}" hide-back-button="true">
  <ion-content ng-controller="ProductsCtrl">
    <div id="product-video">
      <div class="item item-icon-left item-icon-right" data-tap-disabled="true">
        <i class="icon ion-videocamera"></i>
        {{'tabs.products.ProductVideos' | translate}}
        <a href="#/tab/product-video-list" nav-transition="none" class="icon ion-more gray"></a>
      </div>
      <div class="text-center gray padding" ng-if="!ProductVideo.length">
        <i class="ion ion-videocamera ion-videocamera-size-12em gray"></i>
        <p>{{'tabs.products.ProductsListNone' | translate}}</p>
      </div>
      <div class="video-container" ng-repeat="pVideo in ProductVideo">
        <video controls="controls" poster="img/375-200.png" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source type="video/mp4" ng-src="{{pVideo.url}}" />
          {{'tabs.products.htmlNotice' | translate}}
        </video>
      </div>
    </div>
    <div class="product-category list">
      <div class="item item-icon-left">
        <i class="icon ion-ios-list energized"></i>
        {{'tabs.products.ProductCategories' | translate}}
      </div>
      <div class="categories">
        <div class="text-center gray padding" ng-if="!ProductCategories.length">{{'tabs.products.ProductsListNone' | translate}}</div>
        <ion-list>
          <ion-item ng-repeat="ProductCategory in ProductCategories" class="item-icon-right" ng-href="#/tab/product-list/{{ProductCategory.categoryId}}/{{(ProductCategory.categories != null) ? 1 : 0}}">
            <label>{{ProductCategory.categoryName}}</label>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
