<ion-view hide-nav-bar="true" hide-back-button="true" ng-controller="DashCtrl">
  <ion-content>
    <ion-slide-box class="slide-box">
      <ion-slide ng-if="!banners.length">
        <div class="slider-slide-image gray"><i class="ion ion-images ion-images-size-17em"></i></div>
      </ion-slide>
      <ion-slide ng-repeat="banner in banners">
        <div class="slider-slide-image gray"><a ng-href="{{banner.link}}" data-tap-disabled="true"><img ng-src="{{banner.image}}" class="full-image" /></a></div>
      </ion-slide>
    </ion-slide-box>
    <div class="intro-box padding dark" id="intro-box">
      <h4 class="text-center">{{IntroTitle}}</h4>

      <div ng-bind-html="IntroDesc"></div>
      <a ng-if="IntroDesc.length" data-tap-disabled="true" class="bar button button-full button-icon" nav-transition="enter" href="#/tab/intro"><i class="icon ion-more gray" ></i></a>
    </div>
    <div class="padding light text-center assertive-bg" ng-if="offline"> {{'controllers.offline'| translate}} </div>
    <div class="hot-products padding">
      <div style="margin-bottom: 1px;" data-tap-disabled="true">
        <div class="item item-icon-left item-icon-right">
          <i class="icon ion-bonfire energized"></i>
          {{'tabs.dash.HotProducts' | translate}}
          <a href="#/tab/hotProducts" nav-transition="none" class="icon {{platform != 'android' ? 'ion-ios-list-outline' : 'ion-android-list'}} gray"></a>
        </div>
      </div>
      <div class="list" ng-controller="DashHotProductsCtrl">
        <div class="text-center gray padding" ng-if="!latestProducts.length">{{'tabs.products.ProductsListNone' | translate}}</div>
        <a class="item item-borderless row-no-padding" ng-repeat="latestProduct in latestProducts" ng-href="#/tab/hot-product-detail/{{latestProduct.productId}}/{{false}}">
          <img ng-src="{{latestProduct.thumbUrl}}" />
          <h2>{{latestProduct.productName}}</h2>
          <div class="item-text-wrap"><p>{{latestProduct.meta_title}}</p></div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
