<ion-view view-title="{{'tabs.account.view.title' | translate}}" hide-back-button="true">
  <ion-content ng-controller="AccountCtrl">
    <div class="list">
      <a href="#/tab/account-avatar">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.avatar' | translate}}
            </div>
            <div class="col col-33 text-right" ng-if="avatar != null">
              <img ng-model="avatar" ng-src="{{avatar}}" width="60" height="60"/>
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-username">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.username' | translate}}
            </div>
            <div class="col col-33 text-right" ng-model="username">
              {{username}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-address">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.address' | translate}}
            </div>
            <div class="col col-33 text-right" ng-model="address">
              {{address}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-language">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67" >
              {{'tabs.account.language' | translate}}
            </div>
            <div class="col col-33 text-right" ng-model="language">
              {{language}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-about">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.about' | translate}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
    </div>
  </ion-content>
</ion-view>
