<ion-view view-title="Products">
  <ion-content ng-controller="ProductsCtrl">
    <div id="product-video">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-videocamera energized"></i>
        Product Videos
        <a href="#/tab/product-video-list" nav-transition="none" class="icon ion-more gray"></a>
      </div>
      <div class="video-container">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source src="http://www.w3school.com.cn/i/movie.ogg" type="video/mp4"/>
        </video>
      </div>
    </div>
    <div class="product-category list">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-list"></i>
        Product Categories
        <a href="#/tab/product-category-list" nav-transition="none" class="icon ion-more gray"></a>
      </div>
      <div class="categories">
        <ion-list>
          <ion-item ng-repeat="item in items">
            <a href="#/tab/product-list" class="dark"> Hello, {{item}}!</a>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
