<ion-view view-title="Feedback" hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar class="row-no-padding stable-bg" >
    <div class="tabs-striped has-tabs-top tabs-background-stable">
      <div class="tabs">
        <a class="tab-item active" href="#/tab/feedback">Test</a>
        <a class="tab-item" href="#/tab/feedback-history">Favorites</a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="text-center padding">Please tell us about you knows</div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">test</span>
        <textarea name="feedback_usage" placeholder="John" class="item-input-wrapper"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">info</span>
        <textarea name="feedback_planting" placeholder="Suhr" class="item-input-wrapper"></textarea>
      </label>
      <a class="dark" href="#/tab/feedback-attachments">
        <label class="item item-icon-right">
          <p>attachments</p>
          <i class="icon  ion-chevron-right icon-accessory"></i>
        </label>
      </a>
    </div>
  </ion-content>
</ion-view>
