<ion-view view-title="{{home}}" hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="slider-slide-image"><img src="img/375-200.png" /></div>
      </ion-slide>
      <ion-slide>
        <div class="slider-slide-image"><img src="img/375-200.png" /></div>
      </ion-slide>
    </ion-slide-box>
    <div class="intro-box padding dark" id="intro-box" ng-controller="IntroBoxCtrl as ibc">
      <h3 class="text-center">Welcome to Ionic</h3>
      <p>

        This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
      </p>
      <p>
         template is <code>www/templates/tab-dash.html</code>
      </p>

      <a class="bar button button-full button-icon" nav-transition="enter" href="#/tab/intro"><i class="icon ion-more gray" ></i></a>
    </div>
    <div class="hot-products padding">
      <div style="margin-bottom: 1px;">
        <div class="item item-icon-left item-icon-right">
          <i class="icon ion-bonfire energized"></i>
          Hot Products
          <a href="#/tab/hotProducts" nav-transition="none" class="icon {{platform != 'android' ? 'ion-ios-list-outline' : 'ion-android-list'}} gray"></a>
        </div>
      </div>
      <div class="list" ng-controller="ProductsCtrl">
        <a class="item item-borderless row-no-padding" href="#/tab/hot-product-detail/{{productId}}">
          <img src="img/170-120.png" />
          <h2>Pretty Hate Machine</h2>
          <div class="item-text-wrap"><p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p></div>
        </a>
        <a class="item item-borderless row-no-padding" href="#/tab/hot-product-detail/3">
          <img src="img/170-120.png" />
          <h2>Pretty Hate Machine</h2>
          <div class="item-text-wrap"><p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p></div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
