<ion-view view-title="{{'tabs.account.view.title' | translate}}" hide-back-button="true">
  <ion-content ng-controller="AccountCtrl">
    <div class="list">

      <a href="javascript:void(0);" ng-click="openPopover($event, 'tab.account-avatar');">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.avatar' | translate}}
            </div>
            <div class="col col-33 text-right" ng-if="loginAccount.islogin">
              <img src="/img/avatar.png" ng-src="{{accountData.avatar}}" width="60" height="60"/>
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="javascript:void(0);" ng-click="openPopover($event, 'tab.account-username');">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.username' | translate}}
            </div>
            <div class="col col-33 text-right" ng-model="accountData.username">
              {{accountData.username}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-address">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.address' | translate}}
            </div>
            <div class="col col-33 text-right" ng-model="accountData.address">
              {{accountData.address}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-language">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67" >
              {{'tabs.account.language' | translate}}
            </div>
            <div class="col col-33 text-right" ng-model="accountData.language">
              {{accountData.language}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
      <a href="#/tab/account-about">
        <label class="item item-icon-right">
          <div class="row row-no-padding">
            <div class="col col-67">
              {{'tabs.account.about' | translate}}
            </div>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </a>
    </div>
    <div class="padding" ng-if="loginAccount.islogin">
      <button class="button button-full button-balanced" ng-click="accountLogout();">{{'tabs.account.logout' | translate}}</button>
      <br />
    </div>
  </ion-content>
</ion-view>
