<ion-view view-title="Chats"  hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar>
    <ion-tabs class="tabs-icon-left">

      <ion-tab title="One" href="#/tab/chats" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="Two" href="#/tab/chat-history"  icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
        <!-- Tab 2 content -->
      </ion-tab>
    </ion-tabs>
  </ion-header-bar>
  <ion-content>
    <div class="text-center padding">Please tell us about you knows</div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">产品使用情况</span>
        <textarea name="feedback_usage" placeholder="John" class="item-input-wrapper"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">需求或当地种植情况</span>
        <textarea name="feedback_planting" placeholder="Suhr" class="item-input-wrapper"></textarea>
      </label>
      <label class="item item-input item-stacked-label" ng-click="show()">
        <span class="ion ion-plus-round"> 增加附件</span>
      </label>
    </div>
  </ion-content>
</ion-view>
