<ion-view view-title="{{home}}" hide-nav-bar="true" hide-back-button="true" ng-controller="DashCtrl">
  <ion-content>
    <ion-slide-box>
      <ion-slide ng-repeat="banner in banners">
        <div class="slider-slide-image"><a ng-href="{{banner.link}}"><img ng-src="{{banner.image}}" /></a></div>
      </ion-slide>
    </ion-slide-box>
    <div class="intro-box padding dark" id="intro-box">
      <h4 class="text-center">{{IntroTitle}}</h4>

      <div>
        {{IntroDesc}}
      </div>

      <a class="bar button button-full button-icon" nav-transition="enter" href="#/tab/intro"><i class="icon ion-more gray" ></i></a>
    </div>
    <div class="hot-products padding">
      <div style="margin-bottom: 1px;">
        <div class="item item-icon-left item-icon-right">
          <i class="icon ion-bonfire energized"></i>
          Hot Products
          <a href="#/tab/hotProducts" nav-transition="none" class="icon {{platform != 'android' ? 'ion-ios-list-outline' : 'ion-android-list'}} gray"></a>
        </div>
      </div>
      <div class="list" ng-controller="DashHotProductsCtrl">
        <a class="item item-borderless row-no-padding" ng-repeat="latestProduct in latestProducts" ng-href="#/tab/hot-product-detail/{{latestProduct.productId}}">
          <img ng-src="{{latestProduct.thumbUrl}}" />
          <h2>{{latestProduct.productName}}</h2>
          <div class="item-text-wrap"><p>{{latestProduct.meta_title}}</p></div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
