<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced {{hideTabs}}">

  <!-- Dashboard Tab -->
  <ion-tab title="{{'tabs.dash.title' | translate}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Products Tab -->
  <ion-tab title="{{'tabs.products.title' | translate}}" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>

  <!-- Feedback Tab -->
  <ion-tab title="{{'tabs.feedback.title' | translate}}" icon-off="ion-ios-feedbackboxes-outline" icon-on="ion-ios-feedbackboxes" href="#/tab/feedback">
    <ion-nav-view name="tab-feedback"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="{{'tabs.account.title' | translate}}" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
