/* Empty. Add your own CSS if you like */
a {
  text-decoration: none;
}
.header-images{
  background-color: lightgrey;
  height: 200px;
  clear: both;
}
.slider {
  height: 100%;
}
.slider-slide {
  text-align: center;
  font-weight: 300;
}

.intro-box {
  height: 197px;
  overflow: hidden;
  display: block;
}
.intro-box-full {
  height:auto;
}
.intro-box-btn {
  -moz-box-shadow: 0px 0px 5px ghostwhite; /* 老的 Firefox */
  box-shadow:0px 0px 5px 5px ghostwhite inset;
}
.hot-products {
  display: block;
}
.hot-products img {
  max-width: 180px;
  max-height: 120px;
  float: left;
  padding: 5px 10px 5px 0px;
}
.hot-products a h2 {
  padding-top: 10px;
}
.gray, a.gray {
  color: #d1d3d6;
}

.video-container {
  padding: 1px;
  height: auto;
}
.videoPlayer {
  width: 100%;
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  margin-top: 0px;
  border-style:none;
}

.hr-1{ height:1px;border:none;border-top:1px dashed #cdcdcd;}
.bar.item-input-inset .item-input-wrapper {
  margin-top: -10px;
  padding: 0px;
}
